<%= form_for(@asgndraft) do |f| %>
  <% if @asgndraft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asgndraft.errors.count, "error") %> prohibited this asgndraft from being saved:</h2>

      <ul>
      <% @asgndraft.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :dateofbirth %><br>
    <%= f.datetime_select :dateofbirth %>
  </div>
  <div class="field">
    <%= f.label :numberoflanguagesspoken %><br>
    <%= f.number_field :numberoflanguagesspoken %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
