<p id="notice"><%= notice %></p>

<h1>Listing Asgndrafts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Color</th>
      <th>Dateofbirth</th>
      <th>Numberoflanguagesspoken</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asgndrafts.each do |asgnmodels| %>
      <tr>
        <td><%= asgnmodels.name %></td>
        <td><%= asgnmodels.weight %></td>
        <td><%= asgnmodels.height %></td>
        <td><%= asgnmodels.color %></td>
        <td><%= asgnmodels.dateofbirth %></td>
        <td><%= asgnmodels.numberoflanguagesspoken %></td>
        <td><%= link_to 'Show', asgnmodels %></td>
        <td><%= link_to 'Edit', edit_asgnmodels_path(asgnmodels) %></td>
        <td><%= link_to 'Destroy', asgnmodels, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asgndraft', new_asgnmodels_path %>
