<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @asgndraft.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @asgndraft.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @asgndraft.height %>
</p>

<p>
  <strong>Color:</strong>
  <%= @asgndraft.color %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @asgndraft.dateofbirth %>
</p>

<p>
  <strong>Numberoflanguagesspoken:</strong>
  <%= @asgndraft.numberoflanguagesspoken %>
</p>

<%= link_to 'Edit', edit_asgndraft_path(@asgndraft) %> |
<%= link_to 'Back', asgndrafts_path %>
